*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Comic Neue", cursive;
}

body{
    width: 80%;
    padding: 0rem;
    margin: 0 auto;
    background-color: #ddd;
}

.header{
    display: flex;
}

.header .header-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header-box img{
    width: 2rem;
}

.header-box .img-regresar{
    width: 100%;
    margin-top: 1rem;
}

.header-box h1{
    width: 100%;
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

.main{
    display: flex;
    margin-top: 2rem;
}

.main .main-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

input{
    width: 100%;
    background-color: lightgrey;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 1rem;
    border: 0px #ddd;
}

.main-box .input-mensaje{
    height:10rem;
}

.footer{
    display: flex;
    margin-top: 10rem;
}

.footer .footer-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.footer-box .sigue{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 80%;
    height: 3rem;
    border-radius: 3rem;
    border: 1px solid black;
    font-size: 1.5rem;
}

.sigue a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}