*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Comic Neue", cursive;
}

body{
    width: 80%;
    padding: 0rem;
    margin: 0 auto;
    background-color: #ddd;
}

.header{
    display: flex;
}

.header .header-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    background-color: darkgray;
    border-radius: 0rem 0rem 5rem 5rem;
}

.usuario{
    display: flex;
    width: 50%;
    font-size: 2rem;
    align-items: center;
}

.usuario img{
    width: 2.5rem;
    margin-right: 0.8rem;
}

.pregunta{
    width: 50%;
    justify-content: end;
    display: flex;
}

.pregunta img{
    width: 3rem;
}

.disponible{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5rem;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.disponible .disponible-p{
    font-size: 1.5rem;
    font-weight: normal;
}

.main{
    display: flex;
}

.main .main-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 9rem;
    font-size: 1.3rem;
}

.entregar-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entregar-box a img{
    width: 4rem;
    text-align: center;
}

.enviar-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enviar-box a img{
    width: 4rem;
    text-align: center;
}

.pedir-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedir-box a img{
    width: 4rem;
}

.footer{
    display: flex;
}

.footer .footer-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    background-color: orange;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem 1rem 0.2rem #00000043;
    margin-top: 14rem;
    font-size: 1.1rem;
    margin-top: 10rem;
    font-size: 1rem;
}

.github-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github-box a img{
    width: 2rem;
    text-align: center;
}

.cv-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-box a img{
    width: 2rem;
    text-align: center;
}

.linkedin-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkedin-box a img{
    width: 2rem;
    text-align: center;
}
