* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    font-family: "Comic Neue", cursive;
  }
body{
    width: 80%;
    padding: 0rem;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    background-color: #ddd;
}
.header-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
    background-color: orange;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
.header-box h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.header-box h1 img{
    padding: 1.5rem;
}
.header-box span{
    font-size: 1.8rem;
}
.main-numbre{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.main-button{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.main-resultado p{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}
.main-resultado img{
    width: 20%;
    padding: 0.6rem;
}