*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Comic Neue", cursive;
}

body{
    width: 80%;
    padding: 0rem;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    background-color: #ddd;
}

.header-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
    background-color: orange;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

.header-box h1{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
}

.header-box h1 img{
    padding: 1.5rem;
    width: 28%;
}

.header-box span{
    font-size: 1.8rem;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-number{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
}

.main-number .dinero{
    background: silver;
    border: 1px solid orange;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: orange;
    font-size: 1.8rem;
    padding: 5px;
}

.main-button{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.main-button-finalizar, .main-button-extraer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.main-button-finalizar img{
    width: 5.3rem;
}

.main-button-extraer img{
    width: 24%;
}

.main-resultado div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 5rem;
    font-weight: bold;
}

.main-resultado img{
    width: 45%;
    padding-left: 3rem;
}
